*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 242, 245);
}
/* comincia la parte del Header  */
header{
  width: 100%;
  height: 110px;
  background-color: white;
  line-height: 110px;
}
header img{
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 18px;
}

.titolo-header{
  width: 400px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
header .titolo-header span{
  font-size: 59px;
  font-weight: bold;
  line-height: 100px;
}
/* ///finisce qui la parte Header  */

.container{
  width: 70%;
  margin: auto;
  margin-top: 60px;
}
.task-bar{
  width: 100%;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

/* bottone Add Task */
.add-button{
  width: 100px;
  height: 40px;
  background-color: rgb(108, 177, 227);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
  line-height: 40px;
  display: inline-block;
  margin-top: 20px;
}
.add-button, h1, ul{
  margin-left: 80px;
}
/* bottone Add section  */
.section-button{
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: lightgrey;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}
.lists{
  width: 100%;
  height: 800px;
  margin-top: 3px;
  margin-bottom: 20px;
  background-color: white;
}
h1{
  font-size: 28px;
  padding-top: 50px;
}
ul li{
  font-size: 25px;
  list-style: none;
}
.circle{
  display: inline-block;
  border: 1px solid green;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-right: 10px;
  
}
.check{
  font-size: 20px;
  margin: auto;
  color: green;
}
.editorial{
  width: 100px;
  height: 40px;
  background-color: rgb(108, 177, 227);
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: white;
  line-height: 40px;
  display: inline-block;
  margin-top: 20px;
}
#q1{
  background-color: rgb(145, 44, 145);
}
#rec{
  background-color: rgb(26, 97, 26);
}
.circle-red{
  display: inline-block;
  border: 1px solid red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-right: 10px;
}
.check-multi{
  font-size: 19px;
  color: red;
}
#orange{
  background-color: orange;
}
#website{
  background-color: palevioletred;
}
#sales{
  background-color: lightgreen;
}